@use "/src/styles/variables.scss";

.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  &_error {
    margin-top: 0.5rem;
    color: variables.$error-color;
  }
  &_flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    border: 1px solid #757575;
    padding: 1rem;
    border-radius: 4px;
    & > label {
      flex: 2;
    }
  }
  &_checkbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 2rem;
    &_input {
      justify-self: end;
    }
  }
}
