@use '/src/styles/variables.scss';

.test{
    &_title{
        margin-bottom: 1rem;
    }
    &_question{
        margin-bottom: 1rem;
        &_title{
            margin-bottom: 0.5rem
        }
        &_answers{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            background-color: variables.$secondary-background-color;
        }
    }
    &_input{
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        &_error{
            margin-top: 0.5rem;
            color: variables.$error-color;
        }
    }
}