@use '/src/styles/variables.scss';

.result{
  &_filter{
    margin: 1rem 0;
    width: 100%;
  }
  &_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

}