@use '/src/styles/variables.scss';

.result{
  &_title{

  }
  &_filter{
    margin: 1rem 0;
    width: 100%;
  }
  &_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    &_card{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      padding: 1.5rem 1rem;
      background-color: variables.$secondary-background-color;
    }
  }

}