@use '/src/styles/variables.scss';

.paginator{
  display: flex;
  justify-content: space-evenly;
  margin: 1.5rem 0;
  &_button{
    padding: 0 1rem;
    border: none;
    background: none;
    font-size: 1.8rem;
    cursor: pointer;
    &:hover{
      color: variables.$link-color;
    }
    &_active{
      color: variables.$link-color;
    }
  }
}